@import "./../_base.scss";
@import "../inputs";

.jkjezdfv {
  @media (max-width: 1400px) {
    width: 75% !important;
  }

  @media (max-width: 1345px) {
    width: 74% !important;
  }

  @media (max-width: 1300px) {
    width: 72% !important;
  }
  @media (max-width: 1206px) {
    width: 70% !important;
  }
  @media (max-width: 1131px) {
    width: 65% !important;
  }
  @media (max-width: 974px) {
    width: 60% !important;
  }
  @media (max-width: 864px) {
    width: 55% !important;
  }
  @media (max-width: 767px) {
    width: 100% !important;
  }
}

.jkjezdfv-b {
  @media (min-width: 1400px) {
    width: 80% !important;
  }
  @media (max-width: 1400px) {
    width: 75% !important;
  }

  @media (max-width: 1345px) {
    width: 74% !important;
  }

  @media (max-width: 1300px) {
    width: 72% !important;
  }
  @media (max-width: 1206px) {
    width: 70% !important;
  }
  @media (max-width: 1131px) {
    width: 65% !important;
  }
  @media (max-width: 974px) {
    width: 60% !important;
  }
  @media (max-width: 864px) {
    width: 55% !important;
  }
  @media (max-width: 767px) {
    width: 100% !important;
  }
}

::placeholder {
  color: #bdbdbd !important;
  font-size: 19px !important;

  @media (max-width: 1627px) {
    font-size: 17px !important;
  }

  @media (max-width: 1532px) {
    font-size: 15px !important;
  }

  @media (max-width: 1444px) {
    font-size: 13px !important;
  }
  @media (max-width: 1300px) {
    font-size: 12px !important;
  }

  @media (max-width: 1277px) {
    font-size: 11px !important;
  }
  @media (max-width: 1199px) {
    font-size: 16px !important;
  }
  @media (max-width: 767px) {
    font-size: 15px !important;
  }

  @media (max-width: 330px) {
    font-size: 13px !important;
    padding-top: 5px !important;
  }
}

.input-p-s-l {
  @media (max-width: 1301px) {
    padding-left: 5px;
  }
  @media (max-width: 1200px) {
    padding-left: 15px;
  }
}

.input-p-s-r {
  @media (max-width: 1301px) {
    padding-right: 5px;
  }
  @media (max-width: 1200px) {
    padding-right: 15px;
  }
}

.font-list {
  font-size: 17px !important;
  @media (max-width: 1472px) {
    font-size: 18px !important;
  }
  @media (max-width: 600px) {
    font-size: 17px !important;
  }
  @media (max-width: 400px) {
    font-size: 16px !important;
  }
}
.main-mobail-pt {
  @media (min-width: 767px) {
    padding-top: 55px;
  }
  padding-top: 360px;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: "Select some files";
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.btn-submit {
  font-size: 21px;
  padding: 0px;
  width: 20%;
  @media (max-width: 1024px) {
    width: 80%;
  }
}

.mt-f {
  margin-top: 5rem;
  @media (max-width: 1200px) {
    margin-top: 3rem;
  }
}
.preview {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: none;
  background-color: #f6f5f5;
  cursor: pointer;
}

#upload {
  display: none;
  top: 1%;
}
@-moz-document url-prefix(){
  .yff{
    width: 30% !important;
    @media (max-width:992px) {
    width: 32% !important;


  }
    
  }
}