body {
  background-image: url("../../image/4694@2x.png");
  background-size: 100%;
  height: 100%;
  background-position: center;
  background-repeat: repeat-y;
}

@font-face {
  font-family: "MyFont";
  src: url("../../fonts/IRANYekanRegular.ttf");
}

a {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MyFont";
}

.font {
  font-size: 18px !important;
}

@media (max-width: 1600px) {
  .font {
    font-size: 16px !important;
  }
}

@media (max-width: 1200px) {
  .font {
    font-size: 14px !important;
  }
}

@media (max-width: 996px) {
  .font {
    font-size: 12px !important;
  }
}

@media (max-width: 500px) {
  .font {
    font-size: 10px !important;
  }
}

@media (max-width: 450px) {
  .font {
    font-size: 8px !important;
  }
}

@media (max-width: 400px) {
  .font {
    font-size: 5px !important;
  }
}

.font-x {
  font-size: 18px !important;
}

@media (max-width: 1600px) {
  .font-x {
    font-size: 16px !important;
  }
}

@media (max-width: 1200px) {
  .font-x {
    font-size: 10px !important;
  }
}

@media (max-width: 991px) {
  .font-x {
    font-size: 13px !important;
  }
}

@media (max-width: 800px) {
  .font-x {
    font-size: 10px !important;
  }
}

@media (max-width: 700px) {
  .font-x {
    padding: 3px !important;
    font-size: 12px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}

@media (max-width: 600px) {
  .font-x {
    padding: 3px !important;
    font-size: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}

@media (max-width: 500px) {
  .font-x {
    padding: 3px !important;
    font-size: 8px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}

@media (max-width: 450px) {
  .font-x {
    padding: 2px !important;
    font-size: 6px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}

@media (max-width: 400px) {
  .font-x {
    padding: 2px !important;
    font-size: 5px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}

@media (max-width: 450px) {
  .font-bx {
    padding: 2px !important;
    font-size: 8px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}

@media (max-width: 400px) {
  .font-bx {
    padding: 2px !important;
    font-size: 8px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}

.font-b {
  font-size: 18px !important;
}

@media (max-width: 1600px) {
  .font-b {
    font-size: 16px !important;
  }
}

@media (max-width: 800px) {
  .font-b {
    font-size: 15px !important;
  }
}

@media (max-width: 700px) {
  .font-b {
    padding: 15px !important;
    font-size: 14px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}

@media (max-width: 600px) {
  .font-b {
    padding: 15px !important;
    font-size: 13px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}

@media (max-width: 500px) {
  .font-b {
    padding: 15px !important;
    font-size: 12px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}

@media (max-width: 450px) {
  .font-b {
    padding: 15px !important;
    font-size: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}

@media (max-width: 400px) {
  .font-b {
    padding: 15px !important;
    font-size: 8px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}

.font-p {
  font-size: 16px !important;
}

@media (max-width: 1600px) {
  .font-p {
    font-size: 13px !important;
  }
}

@media (max-width: 1472px) {
  .font-p {
    font-size: 12px !important;
  }
}

@media (max-width: 1371px) {
  .font-p {
    font-size: 9px !important;
  }
}

@media (max-width: 1200px) {
  .font-p {
    font-size: 9px !important;
  }
}

@media (max-width: 990px) {
  .font-p {
    font-size: 14px !important;
  }
}

@media (max-width: 450px) {
  .font-p {
    font-size: 13px !important;
  }
}

@media (max-width: 400px) {
  .font-p {
    font-size: 12px !important;
  }
}

.bgc {
  background-color: #004b7d;
}

.w-f-t {
  width: 50%;
}

@media (max-width: 1200px) {
  .w-f-t {
    width: 100%;
  }
}

@media (max-width: 460px) {
  .font-tickets {
    font-size: 12px;
  }
}
/*# sourceMappingURL=Admin_Tickets.css.map */