body {
  background-image: url("../../image/4694@2x.png");
  background-size: 100%;
  height: 100%;
  background-position: center;
  background-repeat: repeat-y;
}

@font-face {
  font-family: "MyFont";
  src: url("../../fonts/IRANYekanRegular.ttf");
}

a {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MyFont";
}

.font {
  font-size: 18px !important;
}

@media (max-width: 1600px) {
  .font {
    font-size: 16px !important;
  }
}

@media (max-width: 1200px) {
  .font {
    font-size: 14px !important;
  }
}

@media (max-width: 996px) {
  .font {
    font-size: 12px !important;
  }
}

@media (max-width: 500px) {
  .font {
    font-size: 10px !important;
  }
}

@media (max-width: 450px) {
  .font {
    font-size: 8px !important;
  }
}

@media (max-width: 400px) {
  .font {
    font-size: 5px !important;
  }
}

.font-x {
  font-size: 18px !important;
}

@media (max-width: 1600px) {
  .font-x {
    font-size: 16px !important;
  }
}

@media (max-width: 1200px) {
  .font-x {
    font-size: 14px !important;
  }
}

@media (max-width: 996px) {
  .font-x {
    font-size: 13px !important;
  }
}

@media (max-width: 800px) {
  .font-x {
    font-size: 10px !important;
  }
}

@media (max-width: 700px) {
  .font-x {
    padding: 3px !important;
    font-size: 12px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}

@media (max-width: 600px) {
  .font-x {
    padding: 3px !important;
    font-size: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}

@media (max-width: 500px) {
  .font-x {
    padding: 3px !important;
    font-size: 8px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}

@media (max-width: 450px) {
  .font-x {
    padding: 2px !important;
    font-size: 6px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}

@media (max-width: 400px) {
  .font-x {
    padding: 2px !important;
    font-size: 5px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}

@media (max-width: 450px) {
  .font-bx {
    padding: 2px !important;
    font-size: 8px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}

@media (max-width: 400px) {
  .font-bx {
    padding: 2px !important;
    font-size: 8px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}

.font-b {
  font-size: 18px !important;
}

@media (max-width: 1600px) {
  .font-b {
    font-size: 16px !important;
  }
}

@media (max-width: 800px) {
  .font-b {
    font-size: 15px !important;
  }
}

@media (max-width: 700px) {
  .font-b {
    padding: 15px !important;
    font-size: 14px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}

@media (max-width: 600px) {
  .font-b {
    padding: 15px !important;
    font-size: 13px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}

@media (max-width: 500px) {
  .font-b {
    padding: 15px !important;
    font-size: 12px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}

@media (max-width: 450px) {
  .font-b {
    padding: 15px !important;
    font-size: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}

@media (max-width: 400px) {
  .font-b {
    padding: 15px !important;
    font-size: 8px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}

.font-p {
  font-size: 16px !important;
}

@media (max-width: 1600px) {
  .font-p {
    font-size: 14px !important;
  }
}

@media (max-width: 1472px) {
  .font-p {
    font-size: 12px !important;
  }
}

@media (max-width: 1371px) {
  .font-p {
    font-size: 9px !important;
  }
}

@media (max-width: 1200px) {
  .font-p {
    font-size: 9px !important;
  }
}

@media (max-width: 990px) {
  .font-p {
    font-size: 14px !important;
  }
}

@media (max-width: 450px) {
  .font-p {
    font-size: 13px !important;
  }
}

@media (max-width: 400px) {
  .font-p {
    font-size: 12px !important;
  }
}

body {
  background-image: url("../../image/4694@2x.png");
  background-size: 100%;
  height: 100%;
  background-position: center;
  background-repeat: repeat-y;
}

.top-slide {
  background-color: #FAEFDB;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

@media (max-width: 1600px) {
  .top-slide {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media (max-width: 1210px) {
  .top-slide {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

@media (max-width: 650px) {
  .top-slide {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media (max-width: 500px) {
  .top-slide {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.text-content {
  font-size: 35px;
  line-height: 60px;
}

@media (max-width: 1600px) {
  .text-content {
    font-size: 30px;
    line-height: 50px;
  }
}

@media (max-width: 1210px) {
  .text-content {
    font-size: 25px;
    line-height: 45px;
  }
}

@media (max-width: 650px) {
  .text-content {
    font-size: 20px;
    line-height: 40px;
  }
}

@media (max-width: 500px) {
  .text-content {
    font-size: 15px;
    line-height: 30px;
  }
}

@media (max-width: 400px) {
  .text-content {
    font-size: 10px;
    line-height: 30px;
  }
}

.shop-btn {
  border-radius: 1px !important;
  font-size: 16px;
}

@media (max-width: 1600px) {
  .shop-btn {
    font-size: 14px;
  }
}

@media (max-width: 1210px) {
  .shop-btn {
    font-size: 12px;
  }
}

@media (max-width: 650px) {
  .shop-btn {
    font-size: 10px;
  }
}

@media (max-width: 500px) {
  .shop-btn {
    font-size: 8px;
  }
}

.slide-next-back-icon {
  width: 30px;
}

@media (max-width: 1600px) {
  .slide-next-back-icon {
    width: 27px;
  }
}

@media (max-width: 1200px) {
  .slide-next-back-icon {
    width: 20px;
  }
}

@media (max-width: 800px) {
  .slide-next-back-icon {
    width: 18px;
  }
}

@media (max-width: 500px) {
  .slide-next-back-icon {
    width: 15px;
  }
}

@media (max-width: 400px) {
  .slide-next-back-icon {
    width: 10px;
  }
}

.bgc {
  background-color: #FAEFDB !important;
}

@media (min-width: 996px) {
  .padding-set {
    padding-left: 30px;
    padding-bottom: 30px;
  }
}

.text-content-t {
  font-size: 31px;
  line-height: 50px;
}

@media (max-width: 1600px) {
  .text-content-t {
    font-size: 30px;
    line-height: 50px;
  }
}

@media (max-width: 1210px) {
  .text-content-t {
    font-size: 20px;
    line-height: 45px;
  }
}

@media (max-width: 650px) {
  .text-content-t {
    font-size: 16px;
    line-height: 40px;
  }
}

@media (max-width: 500px) {
  .text-content-t {
    font-size: 14px;
    line-height: 30px;
  }
}

@media (max-width: 400px) {
  .text-content-t {
    font-size: 10px;
    line-height: 30px;
  }
}

.all-commodity-f {
  font-size: 31px;
}

@media (max-width: 1600px) {
  .all-commodity-f {
    font-size: 30px;
  }
}

@media (max-width: 1210px) {
  .all-commodity-f {
    font-size: 20px;
  }
}

@media (max-width: 650px) {
  .all-commodity-f {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .all-commodity-f {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .all-commodity-f {
    font-size: 10px;
  }
}

.text-categury {
  font-size: 18px;
}

@media (max-width: 1600px) {
  .text-categury {
    font-size: 16px;
  }
}

@media (max-width: 1210px) {
  .text-categury {
    font-size: 14px;
  }
}

@media (max-width: 650px) {
  .text-categury {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .text-categury {
    font-size: 10px;
  }
}

@media (max-width: 400px) {
  .text-categury {
    font-size: 8px;
  }
}

.bgc-1 {
  background-color: #E4AE4C !important;
}
/*# sourceMappingURL=Home.css.map */