@import "./../base";
.help_div {
  height: 270px;
  @media (min-width: 320px) and (max-width: 480px) {
    height: 200px;
  }
  @media (min-height: 500px) and (max-height: 670px) {
    height: 100px;
  }
}
.inputs_section {
  min-height: 40%;
}

.inputs_div {
  background-color: $white;
  height: 410px;
  @media (max-width: 360px) {
    height: 400px;
  }
  box-shadow: 1px 1px 1px 1px $border;
  border: $border 1px solid;
  padding-top: 18px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 23px;
  border-radius: 5px;
}
input {
  /* background-color: transparent; */
  border: none !important;
  width: 210px;
  @media (min-width: 768px) {
    width: 300px;
  }
}
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: $inputs;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: $inputs;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: $inputs;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $inputs;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $inputs;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: $inputs;
  font-size: 18px;
  @media (max-width: 767px) {
    font-size: 16px;
  }
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
  border: none !important;
  box-shadow: none !important;
}

.icon_inputs {
  width: 30px;
  height: 30px;
  @media (max-width: 390px) {
    width: 22px;
    height: 22px;
    margin-top: 15px;
  }
}

.input-group {
  border: 1px $inputs solid;
  padding: 10px;
  height: 60px;
  @media (max-width: 390px) {
    padding: 0px;
  }
}

.forgot_pass {
  color: $green;
  font-size: 16px;
}

.enterbutton {
  margin-top: 60px;
  text-decoration: none;
  text-align: center;
  width: 100%;
  height: 100px;
  font-size: 23px;
  height: 58px;
  color: $white;
  background-color: #004b7d;
  border: none;
  border-radius: 4px;
  align-items: center;

  &.enterbutton:hover,
  :focus {
    color: white;
    border: none;
  }

  @media (max-width: 767px) {
    width: 87%;
    font-size: 21px;
  }
}

.oprator_txt {
  color: #707070;
  @media (min-width: 768px) {
    font-size: 21px;
  }
}

.operator_row {
  margin-top: 50px;
  @media (max-width: 330px) {
    margin-top: 15px;
  }
}
