@import "./../base";
.HeaderOfPage_div {
  background-color: #194c80;
  color: white;
  opacity: 0.5;
}
.HeaderOfPageOP_div {
  background-color: #194c80;
  color: white;
}
.rating {
  width: 50px;
  font-size: 40px;
  overflow: hidden;
  height: 44%;
}
.rating input {
  float: right;
  opacity: 0;
  position: absolute;
}
.rating a,
.rating label {
  float: right;
  color: #aaa;
  text-decoration: none;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
.rating label:hover ~ label,
.rating input:focus ~ label,
.rating label:hover,
.rating a:hover,
.rating a:hover ~ a,
.rating a:focus,
.rating a:focus ~ a {
  color: orange;
  cursor: pointer;
}
.rating2 {
  direction: rtl;
}
.rating2 a {
  float: none;
}


.preview2 {
  width: 120%;
  height: 90%;
  border: none;
  cursor: pointer;
  @media (min-width: 300px) and (max-width: 400px) {
    height: 90%;
  }
  @media (min-width: 992px) {
    height: 90%;
  }
}
.preview3 {
  width: 160% !important;
  height: 44%;
  border: none;
  margin-right: 1vw;
  
  cursor: pointer;
  @media (min-width: 300px) and (max-width: 400px) {
    height: 44%;
  }
  @media (min-width: 992px) {
    height: 44%;
  }
}
.preview4 {
  width: 160% !important;
  height: 44%;
  border: none;
  margin-right: 1vw;
  
  cursor: pointer;
  @media (min-width: 300px) and (max-width: 400px) {
    height: 44%;
  }
  @media (min-width: 992px) {
    height: 44%;
  }
}

#upload1 {
  display: none;
  top: 1%;
}
#upload2 {
  display: none;
  top: 1%;
}
#upload3 {
  display: none;
  top: 1%;
}
