@import "../base";

body {
    background-image: url("../../image/4830@2x.png");
    background-size: 100%;
    height: 100%;
    background-position: center;  
    background-repeat: repeat-y;
} 
.top-slide{
    background-color: #FAEFDB;
    padding-top: 7rem;
    padding-bottom: 7rem;
}
.text-content{
    font-size: 35px;
    line-height: 60px;
}
.shop-btn{
    background-color: #E4AE4C;
    border-radius: 1px !important;
}