@import "../base";

.bgc{
    background-color: #004b7d;
}
.w-f-t{
    width: 100%;
    
    @media (max-width: 1200px) {
        width: 100%;
    }
}
.www{
    width: 23% !important;
    
    @media (max-width: 1200px) {
        width: 35% !important;
    }
    @media (max-width: 1000px) {
        width: 40% !important;
    }
    @media (max-width: 800px) {
        width: 50% !important;
    }
    @media (max-width: 500px) {
        width: 100% !important;
    }
}

.font-tickets{
  @media (max-width: 860px) {
    font-size: 12px;
}
    @media (max-width: 460px) {
        font-size: 10px;
    }
}

.img-t-f{
  width: 36px;
  @media (max-width: 700px) {
    width: 27px;
}
}