$white: #fff;
$background: #f9f9f9;
$inputs: #bdbdbd;
$green: #28cda0;
$dark_green: #00af80;
$border: #eaeaea;
$text: #9e9e9e;
$havij: #ffdece;
$light_black: #616161;
$lighter_black: #696969;
$pishfactor_color: #754100;
$light_orange: #ffdecc;
$PhoneUnderName: #bdbdbd;
$yellow: #fcce00;
$good_blue: #46a8c2;
$admin_blue: #279ad3;
$seller_color: #952895;


body {
  background-image: url("../../image/4694@2x.png");
  background-size: 100%;
  height: 100%;
  background-position: center;  
  background-repeat: repeat-y;
}

@font-face {
  font-family: "MyFont";
  src: url("../../fonts/IRANYekanRegular.ttf");
}

a {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MyFont";
}

.font{
  font-size: 18px !important;
  @media (max-width: 1600px) {
    font-size: 16px !important;
  }
  @media (max-width: 1200px) {
    font-size: 14px !important;
  }
  @media (max-width: 996px) {
    font-size: 12px !important;
  }
  @media (max-width: 500px) {
    font-size: 10px !important;
  }
  @media (max-width: 450px) {
    font-size: 8px !important;
  }
  @media (max-width: 400px) {
    font-size: 5px !important;
  }
}

.font-x{
  font-size: 18px !important;
  @media (max-width: 1600px) {
    font-size: 16px !important;
  }
  @media (max-width: 1200px) {
    font-size: 10px !important;
  }
  @media (max-width: 991px) {
    font-size: 13px !important;
  }
  @media (max-width: 800px) {
    font-size: 10px !important;
  }
  @media (max-width: 700px) {
    padding: 3px !important;
    font-size: 12px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  @media (max-width: 600px) {
    padding: 3px !important;
    font-size: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  @media (max-width: 500px) {
    padding: 3px !important;
    font-size: 8px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  @media (max-width: 450px) {
    padding: 2px !important;
    font-size: 6px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  @media (max-width: 400px) {
    padding: 2px !important;
    font-size: 5px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;

  }
}
.font-bx{
  @media (max-width: 450px) {
    padding: 2px !important;
    font-size: 8px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  @media (max-width: 400px) {
    padding: 2px !important;
    font-size: 8px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;

  }
}
.font-b{
  font-size: 18px !important;
  @media (max-width: 1600px) {
    font-size: 16px !important;
  }

  @media (max-width: 800px) {
    font-size: 15px !important;
  }
  @media (max-width: 700px) {
    padding: 15px !important;
    font-size: 14px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  @media (max-width: 600px) {
    padding: 15px !important;
    font-size: 13px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  @media (max-width: 500px) {
    padding: 15px !important;
    font-size: 12px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  @media (max-width: 450px) {
    padding: 15px !important;
    font-size: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  @media (max-width: 400px) {
    padding: 15px !important;
    font-size: 8px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;

  }
}
.font-p{
  font-size: 16px !important;
  @media (max-width: 1600px) {
    font-size: 13px !important;
  } 
   @media (max-width: 1472px) {
    font-size: 12px !important;
  }
  @media (max-width: 1371px) {
    font-size: 9px !important;
  }
  @media (max-width: 1200px) {
    font-size: 9px !important;
  }
  @media (max-width: 990px) {
    font-size: 14px !important;
  }
  @media (max-width: 450px) {
    font-size: 13px !important;
  }
  @media (max-width: 400px) {
    font-size: 12px !important;
  }

}
