$white: #fff;
$background: #f9f9f9;
$inputs: #bdbdbd;
$green: #28cda0;
$dark_green: #00af80;
$border: #eaeaea;
$text: #9e9e9e;
$havij: #ffdece;
$light_black: #616161;
$lighter_black: #696969;
$pishfactor_color: #754100;
$light_orange: #ffdecc;
$PhoneUnderName: #bdbdbd;
$yellow: #fcce00;
$good_blue: #46a8c2;
$admin_blue: #279ad3;
$seller_color: #952895;


body {
  background-image: url("../../image/4694@2x.png");
  background-size: 100%;
  background-position: center;  
  background-repeat: repeat-y;
}

@font-face {
  font-family: "MyFont";
  src: url("../../fonts/Yekan.ttf");
}

a {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MyFont";
}

